 /* ----------PhotoAlbum css starts here -----------*/
         /** {
            padding: 0;
            margin: 0;
        }*/
        
        img.png {
        	behavior: url(/images/pngbehavior.htc);
        }
        
        #close {            
            text-align: right;
            padding: 2px 5px;
            background-color: #FFFFFF;
        }
        
		.enlargedThumb {
			width: 75px;
			height: 75px;
			position: absolute;
			background-color: #CCCCCC;
		}
		
        .controls {
        margin: auto;        
        z-index: 1;
        position: relative;
        background-color: #EDEDED;
		background-image: url(/images/photoalbum/photo_controlBG.jpg); 
		text-align: center;
        }
        
        .photoFoot {
            margin: 5px auto;            
            z-index: 1;
            text-align: center;
            background-image: url(/images/photoalbum/photo_controlBG.jpg);
			background-repeat: repeat-x;
            background-color: #EDEDED;
            color: #000000;
            clear: both;
            margin-bottom: 50px;
            height: 22px;
        }
        
        .photoFoot span.SlideNum {            
            color: #000000;
            font-weight: bold;
        }
        
        .imageContainer {
            margin-bottom: 5px;
            overflow: hidden;
            z-index: 1;
        }
        
        .thumbContainer{
            /**width:400px;**/
            height: auto;
            margin: auto;
			z-index: 2;
            /**filter: Shadow(Color=#555555, Direction=135);**/ 
        }        
        
        .mainID {
            margin: auto;
            z-index: 100;
            overflow: hidden;
        }
        
        /** should be removed once integration begins **/
        .mainContainer {
            margin: auto;
        }
        
        .details {
          /**  filter: DropShadow(Color=#0066cc, OffX=5, OffY=-3, Positive=1); **/
          margin: auto;
		  opacity: 0.0;
	        filter: alpha(opacity = 0);
	        width: 200px;
	        height: 200px;
	        border: 2px solid #FFFFFF;
			overflow: hidden;
        }
        
        .detailsContainer {
			position: absolute;
			left: 0;    
			top: 10px;       
			width: 100%;
            height: 100%;
            z-index: 9999;                    
            display: none;			
        }
		
		.detailScreen {
			display: none; 
			background-color: #000000; 
			position: fixed;
			_position: absolute;
			/***position: fixed;**/
			left: 0; 
			top: 0;
			width: 100%; 
			height: 100%; 
			opacity: 0; 
			filter: alpha(opacity = 0); 
			z-index: 9998;	
		}
		
        .mainImageDiv {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: #FFFFFF;
           /** border: 2px solid #4477AA;
            background-color: #336699;**/
            width: 400px;
            height: 400px;
            margin: auto;			
        }
        
        .imageThumbSelected {
     
            font-weight: bold;
            text-align: center;
            float: left;
            margin: 3px;            
            vertical-align:middle;	
        }
        
        .imageThumb {
            font-size: 16px;
            font-weight: bold;
            text-align: center;                   
            float: left;
            margin: 3px;
            overflow: hidden;			
            cursor: pointer;
            vertical-align:middle;
        }
        
        .thumbTitle {
        	font-family: Verdana, Arial, sans-serif;
        	font-size: 11px;
        	line-height: 16px;
        	text-align: left;      
        	padding: 0 2px;  	
        }
        
		.detailControls {height: 22px;}
		
		.detailControls img {
			cursor: pointer;
		}
		
        .popImage {            
            margin: 0 10px;   
			border: 1px solid #FFFFFF;
			opacity: 0;			
            filter: alpha(opacity = 0);         
        }
        
        .popTitle { 
            width: 480px;
            height: 57px;
            overflow: auto;
            text-align: center;            
            font-size: 18px;
            margin: 10px;
			opacity: 0;
            filter: alpha(opacity = 0);
        }
        
		.popDescBG {			
			display: none; 
			position: relative; 
			bottom: 145px;
			_bottom: 148px;
			left: 0;
			width: 500px;
			_width: 488px;
			height: 120px;		
            clear: left;            
            background-color: #000000;
            border: 1px solid #888888;
            opacity: 0.45;
            filter: alpha(opacity = 45);
		}
		
        .popDesc {
			width: 480px;
			height: 76px;
			margin: 10px;
			overflow: auto;
            clear: left;            
            font-size: 14px;             
            text-align: left;
			color: #FFFFFF;
        }
		
		.descButton {
			color: #FFFFFF;			
		}        
				
		.detailControls {
			background-image: url(/images/photoalbum/photo_controlBG.jpg); 
			margin-top: 15px;
			overflow: hidden;
		}
		
		.enlargedImage {
			filter:progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=135); 	
			z-index: 3;
			cursor: pointer;
			border-top: 4px solid #dddddd;
			border-left: 4PX solid #bbbbbb;
			border-right: 4px solid #777777;
			border-bottom: 4px solid #444444;
		}

/* ------------- PhotoAlbum css ends here ---------------*/
