/*
-----------------------------------------------------------------------------------------
CSS document: ImageCafe Template Styles
Created: 02/27/2006
Last Modified: 03/02/2006
NOTE: Template styles included here cannot be changed by the customer
-------------------------------------------------------------------------------------- */
* {margin:0;padding:0;}  /* zero out everything */
body {
	width:100%;
	text-align:center;
	background:#F0F0DE;
}
/*
-----------------------------------------------------------------------------------------
Global
-------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {margin:10px;}
h1#website-title {margin:0;}
h2#website-slogan {margin:0;}
#navcontainer div h3 {margin:0;}
ul, ol {
	margin:10px;
	padding:0 0 0 20px;
}
ol {padding:0 0 0 30px;}
blockquote {margin:10px 10px 10px 40px;}
.clearer {clear:both;}

/*
-----------------------------------------------------------------------------------------
General Layout Structure
-------------------------------------------------------------------------------------- */
* html #printwrap {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#nav-top, #nav-left, #nav-right {
	margin:0 auto;
	padding:15px 0 0 0;
	width:750px;
	text-align:left;
}

#containerwrap {
	position: relative;
}

#content-table-main{
	margin: 0;
	padding: 0;
}

#website-title {
	float:left;
	padding:30px 0 0 40px;
	width:403px;
	height:49px;
}
#website-slogan {
	float:left;
	padding:10px 0 5px 100px;
	width:650px;
}
.accent-none {display:none;}
.accent {
	float:left;
	width:152px;
	height:157px;
}

/*
-----------------------------------------------------------------------------------------
=#NAV-TOP
-------------------------------------------------------------------------------------- */
/*------------------ Does Not Apply to This Layout ------------------*/	

					
/*
-----------------------------------------------------------------------------------------
=#NAV-LEFT
-------------------------------------------------------------------------------------- */
/*------------------ Layout ------------------*/	
#nav-left #headertop {
	float:left;
	width:750px;
}
	#nav-left #headertop #header-cover {
		position:absolute;
		top:0;
		left:0;
		width:750px;
		height:87px;
		background-image:url(../images/ic_064_header_bg.png);
		background-repeat:no-repeat;
		background-position:0 0;
		z-index:0;
	}
	* html #nav-left #headertop #header-cover {background-image:none;}
#nav-left #navcontainer {
	float:left;
	width:152px;
	z-index:1000;
}
	#nav-left #navcontainer #nav-wrapper {
		float:left;
		width:152px;
		z-index:1000;
	}
		#nav-left #navcontainer #nav-wrapper #nav-footer {
			float:left;
			margin:20px 0 0 0;
			width:152px;
			height:11px;
			background-image:url(../images/ic_064_bottomleftcorner.png);
			background-repeat:no-repeat;
			background-position:0 0;
			line-height:0 !important;
		}
		* html #nav-left #navcontainer #nav-wrapper #nav-footer {
			background-image:none;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../images/ic_064_bottomleftcorner.png);
		}
#nav-left #inner {
	float:left;
	width:595px;
}
	#nav-left #inner #content {
		float:left;
		width:595px;
	}
	#nav-left #inner #content-footer {
		float:left;
		width:595px;
		height:11px;
		line-height:0 !important;
		background-image:url(../images/ic_064_contentfooter.png);
		background-repeat:no-repeat;
		background-position:0;
	}
	* html #nav-left #inner #content-footer {
		background-image:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../images/ic_064_contentfooter.png);
	}
#nav-left #footer {
	clear:both;
	padding:10px;
}

/*------------------ Navigation Elements ------------------*/
#nav-left #navcontainer #nav-wrapper div, #nav-left #navcontainer #nav-wrapper div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
	#nav-left #navcontainer #nav-wrapper div a:link, 
	#nav-left #navcontainer #nav-wrapper div a:active, 
	#nav-left #navcontainer #nav-wrapper div a:visited {
		float:left;
		border-bottom:1px dashed #939393;
		width:132px;
		padding:10px;
		text-decoration:none;
		word-wrap: break-word;
	}
	#nav-left #navcontainer #nav-wrapper div a:hover {padding-top:10px;}
		#nav-left #navcontainer #nav-wrapper div div.submenu, 
		#nav-left #navcontainer #nav-wrapper div div.submenu h3 {
			float:left;
			display:block;
		}
		#nav-left #navcontainer #nav-wrapper div div.submenu {
			position:absolute;
			top:0;
			left:0;
			visibility: hidden;
			width:152px;
		}
			#nav-left #navcontainer #nav-wrapper div div.submenu div {
				display:block;
				margin:0;
			}
			#nav-left #navcontainer #nav-wrapper div div.submenu a:link, 
			#nav-left #navcontainer #nav-wrapper div div.submenu a:active, 
			#nav-left #navcontainer #nav-wrapper div div.submenu a:visited {
				float:left;
				word-wrap: break-word;
			}
			#nav-left #navcontainer #nav-wrapper div div.submenu a:hover {
				padding-top:10px;
				border-top:0;
			}

/*------------------ Table Structures ------------------*/	
#nav-left #content-table {
	float:left;
}
	#nav-left #content-table-main {width:100%;}
		#nav-left #content-table-main p {margin:10px 10px 15px 10px;}

	
/*
-----------------------------------------------------------------------------------------
=#NAV-RIGHT
-------------------------------------------------------------------------------------- */
/*------------------ Layout ------------------*/	
#nav-right #headertop {
	float:left;
	width:750px;
}
	#nav-right #headertop #header-cover {
		position:absolute;
		top:0;
		left:0;
		width:750px;
		height:87px;
		background-image:url(../images/ic_064_header_bg.png);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	* html #nav-right #headertop #header-cover {background-image:none;}
#nav-right #navcontainer {
	float:right;
	width:152px;
	z-index:1000;
}
	#nav-right #navcontainer #nav-wrapper {
		float:left;
		width:152px;
		z-index:1000;
	}
		#nav-right #navcontainer #nav-wrapper #nav-footer {
			float:left;
			margin:20px 0 0 0;
			width:152px;
			height:11px;
			background-image:url(../images/ic_064_bottomleftcorner_2.png);
			background-repeat:no-repeat;
			background-position:0 0;
			line-height:0 !important;
		}
		* html #nav-right #navcontainer #nav-wrapper #nav-footer {
			background-image:none;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../images/ic_064_bottomleftcorner_2.png);
		}
#nav-right #inner {
	float:left;
	width:595px;
}
	#nav-right #inner #content {
		float:left;
		width:595px;
	}
	#nav-right #inner #content-footer {
		float:left;
		width:595px;
		height:11px;
		line-height:0 !important;
		background-image:url(../images/ic_064_contentfooter.png);
		background-repeat:no-repeat;
		background-position:0;
	}
	* html #nav-right #inner #content-footer {
		background-image:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../images/ic_064_contentfooter.png);
	}
#nav-right #footer {
	clear:both;
	padding:10px;
}

/*------------------ Navigation Elements ------------------*/
#nav-right #navcontainer #nav-wrapper div, #nav-right #navcontainer #nav-wrapper div h3 {
	float:left;
	display:block;
	cursor:pointer;
}
	#nav-right #navcontainer #nav-wrapper div a:link, 
	#nav-right #navcontainer #nav-wrapper div a:active, 
	#nav-right #navcontainer #nav-wrapper div a:visited {
		float:left;
		border-bottom:1px dashed #939393;
		width:132px;
		padding:10px;
		text-decoration:none;
		word-wrap: break-word;
	}
	#nav-right #navcontainer #nav-wrapper div a:hover {padding-top:10px;}
		#nav-right #navcontainer #nav-wrapper div div.submenu, 
		#nav-right #navcontainer #nav-wrapper div div.submenu h3 {
			float:left;
			display:block;
		}
		#nav-right #navcontainer #nav-wrapper div div.submenu {
			position:absolute;
			top:0;
			left:0;
			visibility: hidden;
			width:152px;
		}
			#nav-right #navcontainer #nav-wrapper div div.submenu div {
				display:block;
				margin:0;
			}
			#nav-right #navcontainer #nav-wrapper div div.submenu a:link, 
			#nav-right #navcontainer #nav-wrapper div div.submenu a:active, 
			#nav-right #navcontainer #nav-wrapper div div.submenu a:visited {
				float:left;
				word-wrap: break-word;
			}
			#nav-right #navcontainer #nav-wrapper div div.submenu a:hover {
				padding-top:10px;
				border-top:0;
			}

/*------------------ Table Structures ------------------*/	
#nav-right #content-table {
	float:left;
}
	#nav-right #content-table-main {width:100%;}
		#nav-right #content-table-main p {margin:10px 10px 15px 10px;}
		
		
/*
-----------------------------------------------------------------------------------------
WIDE LAYOUT STYLES
-------------------------------------------------------------------------------------- */
body#wide #nav-top, body#wide #nav-left, body#wide #nav-right {width:990px;}
body#wide #containerwrap {width:1000px;}

/*------------------------------------ NAV-TOP ------------------------------------*/
/*------------------ Does Not Apply to This Layout ------------------*/	

/*------------------------------------ NAV-LEFT ------------------------------------*/
body#wide #nav-left #headertop {width:990px;}
	body#wide #nav-left #headertop #header-cover {
		width:990px;
		height:87px;
		background-image:url(../images/ic_064_header_bg_wide.png);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	* html body#wide #nav-left #headertop #header-cover {background-image:none;}
body#wide #nav-left #inner {width:838px;}
	body#wide #nav-left #inner #content {width:838px;}
		body#wide #nav-left #inner #content-footer {
			width:838px;
			background-image:url(../images/ic_064_contentfooter_wide.png);
		}
		* html body#wide #nav-left #inner #content-footer {
			background-image:none;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../image/ic_064_contentfooter_wide.png);
		}
		
/*------------------------------------ NAV-RIGHT ------------------------------------*/
body#wide #nav-right #headertop {width:990px;}
	body#wide #nav-right #headertop #header-cover {
		width:990px;
		height:87px;
		background-image:url(../image/ic_064_header_bg_wide.png);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	* html body#wide #nav-right #headertop #header-cover {background-image:none;}
body#wide #nav-right #inner {width:838px;}
	body#wide #nav-right #inner #content {width:838px;}
		body#wide #nav-right #inner #content-footer {
			width:838px;
			background-image:url(../image/ic_064_contentfooter_wide.png);
		}
		* html body#wide #nav-right #inner #content-footer {
			background-image:none;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=../image/ic_064_contentfooter_wide.png);
		}
