*.primary {background-color: rgb(0, 197, 46)}
*.secondary {background-color: rgb(0, 157, 37)}
*.tertiary {background-color: rgb(0, 153, 23)}
*.background {background-color: rgb(255, 255, 255)}
h1#website-title {font-family: arial, verdana, sans-serif; font-size: 24px; font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
h2#website-slogan {font-family: georgia, "times new roman", serif; font-size: 16px; font-weight: bold; color: rgb(53, 53, 53); font-style: normal; text-decoration: none}
*#content {font-family: "trebuchet ms", tahoma, sans-serif; font-size: 12px; font-weight: normal; color: rgb(85, 85, 85); font-style: normal; text-decoration: none}
*#content a:link {font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:active {font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:visited {font-weight: normal; color: rgb(88, 121, 147); font-style: normal; text-decoration: underline}
*#content a:hover {font-weight: normal; color: rgb(79, 109, 132); font-style: normal; text-decoration: underline}
*#navcontainer div a h3 {font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: bold; color: rgb(0, 41, 121); font-style: normal; text-decoration: none}
*#navcontainer div a:hover h3 {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*#navcontainer div a:hover {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*.accent {background: transparent url(../images/50.jpg) no-repeat top left}
